$bg-picture: url('../images/bg.jpg');

@mixin centerer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin bg-box
  background-color: rgba(224, 255, 255, 0.5)
  border: 1px solid grey
  border-radius: 10px

body
  background-size: cover
  background-repeat: no-repeat
  background: white $bg-picture center center no-repeat
  min-height: 100vh
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  position: relative

#searchBar
  @include centerer

#searchBarBG
  @include centerer
  @include bg-box
  height: 200px

@media(max-width:750px)
  #searchBarBG, .loginContainer, .registerContainer
    width: 80%

@media(min-width:750px)
  #searchBarBG, .loginContainer, .registerContainer
    width: 40%

h2
  text-align: center
  color: black
  margin-top: 15px !important

.loginContainer
  @include centerer
  @include bg-box
  height: 320px
  p
    color: red
    font-style: italic
    font-size: 14px
    text-align: center
  form
    margin-top: 5%
  label
    font-size: 14px !important
  i
    color: red
  .pwdInput
    margin-top: 20px !important
  button
    margin-top: 10px !important
    width: 30%

.registerContainer
  @include centerer
  @include bg-box
  height: 360px
  form
    margin-top: 5%
  label
    font-size: 14px !important
  i
    color: blue
  button
    margin-top: 10px !important
    width: 30%

.movieList
  width: 100%
  background-color: #C7E79B
  min-height: 100vh
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

.movieGrid
  margin-left: 5% !important
  .titleSize
    display:inline-block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.ui.grid>.row>.column
  margin-top: 30px

.modalStyle
  width: 100%
  -ms-word-break: break-all
  word-break: break-all
  /* Non standard for WebKit */
  word-break: break-word
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto
  span
    font-style: italic
    font-weight: bold

.favoriteMovieStyle
  span
    color: grey
    font-size: 12px
    font-weight: lighter
    font-style: italic

.favoriteMovieList
  width: 100%
  background-color: #F2C4F5
  min-height: 100vh
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  .card
    height: 560px
